*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url("../images/1-13.jpg")
}
.h-tit{
    text-align: center;
    margin: 50px;
    color:rgb(201, 30, 25)
}

.b-ses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b-ses .img{
      width: 100px;
}

